nav ul {
  display: flex;
  padding: 20px 0px 10px 0px;
  align-items: center;
  justify-content: center;
}
.homepage nav ul {
  justify-content: center;
}

.social {
  width: 35px;
}

body {
  background-color: #faefe4;
  margin: 0px;
  text-align: center;
  scrollbar-width: 0;
}

h1 {
  font-family: 'archivo';
  padding-top: 25px;
  padding-bottom: 20px;
  font-size: 45px;
}

p {
  font-family: 'archivo';
  font-size: 18px;
  line-height: 22px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 35px;
  text-align: center;
}

a {
  font-family: 'archivo';
  margin: 0px;
  font-size: 30px;
}

hr.solid {
  border-top: 2px solid black;
}

footer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-buttons {
  display:flex;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
  width: 100%;
}

.nav-buttons li {
  display:flex;
  text-decoration: none;
  font-size: 16px;
  font-weight: 100px;
  font-family: 'archivo';
  background-color: #faefe4;
  color: black;
  border: 3px solid black;
  border-radius: 60px;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.nav-buttons li:hover {
  background-color: black;
  border-color: black;
  color:#faefe4;
  transition: 0.2s ease-in-out;
}

.slider {
  width: 100vw;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.slide-content img {
  width: 100%;
}

.home-shop-flex {
  display: flex;
  font-weight: 50px;
  padding-top: 20px;
  line-height: 30px;
  justify-content: space-around;
}

.to-shop {
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: center;
  width: 100%;
}

.to-shop li {
    flex: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100px;
    font-family: 'archivo';
    background-color: #faefe4;
    color: black;
    border: 3px solid black;
    border-radius: 60px;
    padding: 20px;
    margin-left: 550px;
    margin-right: 550px;
}  

.to-shop li:hover {
  background-color: black;
  border-color: black;
  color:#faefe4;
  transition: 0.2s ease-in-out;
}
.next-shop-page li {
    flex: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100px;
    font-family: 'archivo';
    background-color: #faefe4;
    color: black;
    border: 3px solid black;
    border-radius: 60px;
    padding: 20px;
    margin-left: 550px;
    margin-right: 550px;
}

.next-shop-page li:hover {
  background-color: black;
  border-color: black;
  color:#faefe4;
  transition: 0.2s ease-in-out;
}

.find-us-sec {
  padding: 60px;
  display: flex;
  font-size: 20px;
  line-height: 40px;
  text-align: left;
  justify-content: space-around;
}

.bag-n-filter {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 100%;
}

.bag-n-filter img {
 width: 5%;
}

.filter-btn {
  flex: 15px;
  text-decoration: none;
  text-align: center;
  justify-content:right;
  font-size: 30px;
  font-weight: 100px;
  font-family: 'archivo';
  background-color: #faefe4;
  color: black;
  border: 3px solid black;
  border-radius: 10px;
  padding: 8px 30px;
  margin: 0 54px;
}

.shop-categories {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 100%;
}

.shop-sections li {
  flex: 1;
  list-style: none;
  display: inline-block;
  text-decoration: none;
  font-size: 25px;
  font-weight: 100px;
  font-family: 'archivo';
  background-color: #faefe4;
  color: black;
  border: 3px solid black;
  border-radius: 60px;
  padding: 8px 30px;
  margin: 0 54px;

  justify-content: space-between;
  text-align: center;
}

.shop-sections li:hover {
  background-color: black;
  border-color: black;
  color:#faefe4;
  transition: 0.2s ease-in-out;
}

.shop-sections div {
  flex-wrap: 10px;
}

.shop-icons-gallery {
  width: 80%;
  padding-top: 20px;
  line-height: 24px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 40px;
}
.hidden {
  display: none;
}
.card img {
  width: 100%;
}
input[type='text'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
  resize: vertical;
}

input[type='submit'] {
  background-color: #30317f;
  color: white;
}
input[type='text'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid black;
  background-color: #faefe4;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
  resize: vertical;
}

input[type='submit'] {
  background-color: #faefe4;
  color: black;
  padding: 12px 20px;
  border: 2px solid black;
  border-radius: 60px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: black;
  color: #faefe4;
  transition: 0.2s ease-in-out;
}

.container {
  margin: 55px;
  border-radius: 10px;
  background-color: #faefe4;
  padding: 35px;
  text-align: left;
}