@font-face {
  font-family: 'archivo';
  src: url(fonts/Archivo-VariableFont_wdth.ttf);
}

@font-face {
  font-family: 'archivo-bold';
  src: url(fonts/Archivo-Bold.ttf);
}
* {
  box-sizing: border-box;
}
nav ul {
  display: flex;
  padding: 20px 0px 10px 0px;
  align-items: center;
  justify-content: center;
}
.homepage nav ul {
  justify-content: center;
}

.social {
  width: 35px;
}

body {
  font-family: 'archivo';
  background-color: #faefe4;
  margin: 0px;
  text-align: center;
  scrollbar-width: 0;
}

h1 {
  font-family: 'archivo-bold';
  padding-top: 25px;
  padding-bottom: 20px;
  font-size: 45px;
}

h2 {
  font-family: 'archivo';
  font-size: 14px;
  font-weight: 300px;
  line-height: 18px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 35px;
  text-align: center;
}

p {
  font-family: 'archivo';
  font-size: 18px;
  line-height: 30px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 35px;
  text-align: center;
}

a {
  font-family: 'archivo';
  margin: 0px;
  font-size: 30px;
}

hr.solid {
  border-top: 2px solid black;
}

footer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  padding-bottom: 0;
}
.nav-buttons {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
  width: 100%;
}
.nav-buttons a {
  color: black;
  text-decoration: none;
}
.nav-buttons li {
  display: flex;
  text-decoration: none;
  font-size: 16px;
  font-weight: 100px;
  font-family: 'archivo';
  background-color: #faefe4;
  color: black;
  border: 3px solid black;
  border-radius: 60px;
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
.nav-buttons a:hover {
  color: #faefe4;
}

.nav-buttons li:hover {
  background-color: black;
  border-color: black;
  transition: 0.2s ease-in-out;
}

.home-shop-flex {
  display: flex;
  flex-wrap: wrap;
  font-weight: 50px;
  padding-top: 20px;
  line-height: 30px;
  justify-content: space-around;
}
.home-shop-flex img {
  width: 100%;
}

.figuresale {
  width: 70%;
}
.to-shop {
  padding-top: 5px;
  padding-bottom: 25px;
  justify-content: center;
  width: 100%;
}

.to-shop a {
  color: black;
  text-decoration: none;
}

.to-shop li {
  flex: 15px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 100px;
  font-family: 'archivo';
  background-color: #faefe4;
  color: black;
  border: 3px solid black;
  border-radius: 60px;
  padding: 20px;
  margin-left: 550px;
  margin-right: 550px;
}

.to-shop a:hover {
  color: #faefe4;
}

.to-shop li:hover {
  background-color: black;
  border-color: black;
  color: #faefe4;
  transition: 0.2s ease-in-out;
}
.next-shop-page ul {
  text-align: center;
  display: flex;
  justify-content: center;
}
.next-btn {
  margin: auto;
  max-width: 200px;
  padding-bottom: 25px;
}
.next-shop-page li {
  text-decoration: none;
  font-size: 18px;
  font-weight: 100px;
  font-family: 'archivo';
  background-color: #faefe4;
  color: black;
  border: 3px solid black;
  border-radius: 60px;
  padding: 20px;
}

.next-shop-page li:hover {
  background-color: black;
  border-color: black;
  color: #faefe4;
  transition: 0.2s ease-in-out;
}

.find-us-sec {
  flex: auto;
  padding: 60px;
  display: flex;
  font-size: 20px;
  line-height: 40px;
  text-align: left;
  justify-content: space-around;
}

.bag-n-filter {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 100%;
}

.bag-n-filter img {
  width: 5%;
  align-items: flex-end;
}

.filter-btn li {
  flex: 15px;
  text-decoration: none;
  text-align: center;
  justify-content: right;
  font-size: 30px;
  font-weight: 100px;
  font-family: 'archivo';
  background-color: #faefe4;
  color: black;
  border: 3px solid black;
  border-radius: 10px;
  padding: 8px 30px;
  margin: 0 54px;
}

.shop-categories {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 15px;
  margin: 15px;
}

.shop-sections li {
  flex: 1;
  list-style: none;
  display: inline-block;
  text-decoration: none;
  font-size: 25px;
  font-weight: 100px;
  font-family: 'archivo';
  background-color: #faefe4;
  color: black;
  border: 3px solid black;
  border-radius: 60px;
  padding: 10px 25px;
  margin: 0 54px;
  justify-content: center;

  justify-content: space-between;
  text-align: center;
}

.shop-sections li:hover {
  background-color: black;
  border-color: black;
  color: #faefe4;
  transition: 0.2s ease-in-out;
}

.shop-sections div {
  flex-wrap: 10px;
}

.shop-icons-gallery {
  width: 80%;
  padding-top: 20px;
  line-height: 24px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 40px;
}
.hidden {
  display: none;
}
.card img {
  width: 100%;
}
input[type='text'],
select,
textarea {
  font-family: 'archivo';
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
  resize: vertical;
}

input[type='submit'] {
  font-family: 'archivo';
  background-color: #30317f;
  color: white;
}
input[type='text'],
select,
textarea {
  font-family: 'archivo';
  width: 100%;
  padding: 12px;
  border: 2px solid black;
  background-color: #faefe4;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
  resize: vertical;
}

input[type='submit'] {
  font-family: 'archivo';
  background-color: #faefe4;
  color: black;
  padding: 12px 20px;
  border: 2px solid black;
  border-radius: 60px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: black;
  color: #faefe4;
  transition: 0.2s ease-in-out;
}

.container {
  font-family: 'archivo';
  margin: 55px;
  border-radius: 10px;
  background-color: #faefe4;
  padding: 35px;
  text-align: left;
}
.pictures .slide-content {
  display: none;
}
.pictures .slide-content:first-child {
  display: block;
}
.slider {
  width: 100vw;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.slide-content .text-content {
}

.slide-content img {
  width: 100%;
}

.slick-initialized .slick-slide {
  /*display: grid;
	grid-template-columns: 1fr 1fr;*/
}

.dog-slide img {
  width: 100%;
}

.dog-slide img {
  width: 100%;
}
.dog-slide {
  margin: 0 0;
}

/* for Sam G only */
.slick-slide {
  margin: 8px;
  width: 220px;
}

@media screen and (max-width: 768px) {
  .figuresale {
    width: 90%;
  }
  .home-shop-flex {
    width: 90%;
    margin: auto;
  }
  .home-shop-flex .one {
    flex: 40%;
  }
  .home-shop-flex .one:nth-child(odd) {
    margin-right: 10px;
  }
  .to-shop {
    flex: 5px;
    justify-content: center;
    max-width: 20%;
    padding-bottom: 25px;
  }
  .to-shop li {
    text-decoration: none;
    font-size: 16px;
    font-weight: 100px;
    font-family: 'archivo';
    background-color: #faefe4;
    color: black;
    border: 3px solid black;
    border-radius: 60px;
    padding: 20px;
  }
  .logo {
    width: 80%;
    margin: auto;
  }
  .intro h1 {
    font-size: 36px;
  }
  .intro p {
    text-align: center;
    padding: 0;
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
  }
  .view-shop-btn {
    align-items: center;
    margin: auto;
    padding: auto;
  }
  .shop-sections li {
    flex: 1px;
    list-style: none;
    text-decoration: none;
    font-size: 25px;
    font-weight: 100px;
    font-family: 'archivo';
    justify-content: flex-start;
    text-align: center;
    border: none;
  }
  .find-us-sec {
    flex-direction: column;
  }
  .find-us-sec .left {
    text-align:center;
    margin-bottom: 20px;
  }
  .find-us-sec img {
    width: 100%;
  }
  .shop-sections {
    display: flex;
    flex-direction: column;
    margin-left: 90px;
  }
}
